.eye_logo {
  width: 63%;
  min-width: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: -45%;
}

.delete_btn_logo {
  width: 55%;
  min-width: 12px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: -50%;
}
