<div class="container">
    <div class="container-fluid">
        <div>
            <div *ngIf="auth.user$ | async as user">
                <h3>Welcome !!!, {{ user.displayName }}</h3>
                <img [src]="user.photoURL">
                <p>UID: {{ user.uid }}</p>
                <button class="btn btn-secondary" (click)="auth.signOut()">Logout</button>
            </div>
        </div>

        <hr>

        <div>
            <div>
                <h3>Only Admin can access this component and create Blog</h3>
                <button class="btn btn-secondary" [routerLink]="['/create-blog']">Create Blog</button>
            </div>

            <div>
                <h3>Everyone can access this component</h3>
                <button class="btn btn-secondary" [routerLink]="['/content']">Blogs List</button>
            </div>
        </div>

        <hr>

        <div class="col-12 col-md-12 col-sm-12">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#defineUserRoleModal">
                Define User Role
            </button>
        </div>

    </div>
</div>




<!-- Define user role Modal -->
<div class="modal fade" id="defineUserRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select User Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-define-role></app-define-role>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>