<div class="container">
    <div class="container-fluid">

        <div>
            <form [formGroup]="createPost">
                <div class="col-12 col-md-12">

                    <div class="col-12 col-md-12 mt-3 responsive-input">
                        <strong class="fs-18">Create Blog</strong>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 mt-3 responsive-input">
                            <span class="square-input-box">
                                <input type="text" class="input-field" formControlName="title" />
                            </span>
                            <span class="input-label grey-text fs-16">
                                Title
                                <span style="color: red;">*</span>
                            </span>
                        </div>
                        <div class="col-12 col-md-6 mt-3 responsive-input">
                            <span class="square-input-box">
                                <input type="text" class="input-field" formControlName="writer" />
                            </span>
                            <span class="input-label grey-text fs-16">
                                Writer
                                <span style="color: red;">*</span>
                            </span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 col-md-12 col-sm-12">
                            <span class="square-input-box">
                                <textarea class="input-field" name="" id="" cols="30" rows="10"
                                    formControlName="blog"></textarea>
                            </span>
                            <span class="input-label grey-text fs-16">
                                Blog Content
                                <span style="color: red;">*</span>
                            </span>
                        </div>
                    </div>


                </div>
            </form>

            <div class="row">
                <div class="col-12 col-md-12 col-sm-12">
                    <button class="btn btn-secondary" (click)="createBlog()">Create Blog</button>

                </div>
            </div>
        </div>


    </div>
</div>